* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-image: url("images/patt.png");
  }
  h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
  }
  .conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:after,
  .menu:after {
    content: "";
    display: block;
    clear: both;
  }
  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4{
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8{
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-12{
    width: 100%;
  }
  .header {
    padding: 25px 0;
    background-color: rgb(255, 255, 255, 0.75);
  }
  .menu > li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
  }
  .menu > li:last-child {
    border-right: 1px solid #2c71b8;
  }
  .menu > li > a:hover {
    background-color: #2c71b8;
    color: white;
  }
  .menu > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
  }
  .products-menu {
    display: block;
    background: url("images/arrow-blue.png") no-repeat 95% 50%;
  }
  .menu>li>a:hover .products-menu {
    background: url("images/arrow_white.png") no-repeat 95% 50%;
  }
  .dropdown{
      position: relative;
  }
  .dropdown-menu{
      position: absolute;
      left: -1px;
      display: none;
      width: 202%;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #2c71b8;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
}
  .dropdown-menu li a{
      display: block;
      height: 40px;
      color: white;
      text-decoration: none;
      font-size: 21px;
      text-align: left;
      padding-left: 30px;
      line-height: 40px;
 }
  li.dropdown:hover a{
   background-color: #2c71b8;
   color: white;
 }
 .dropdown-menu li a:hover{
  background-color: white;
  color: #2c71b8;
}
  .searchbox {
    position: relative;
    display: block;
    height: 41px;
    border: 1px solid #2c71b8;
    margin-top: 5px;
  }
  [class*="search-"] {
    float: left;
  }
  .search-text {
    position: absolute;
    width: 80%;
    height: 30px;
    top: 10%;
    background: none;
    font-size: 21px;
    border: none;
    padding-left: 20px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
  }
  .search-text::placeholder {
    color: #2c71b8;
  }
  .search-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    width: 30px;
    height: 30px;
    background: url("images/search.png") no-repeat 50% 50%;
    background-color: #2c71b8;
  }
  .cart {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url("images/cart-blue.png") no-repeat 50% 50%;
    background-color: white;
  }
  .products-cntr {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    left: -25%;
    top: -25%;
    background-color: #2c71b8;
    color: white;
    text-align: center;
    line-height: 125%;
  }
  .slides{
    height: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(0,0,0,0.25);
  }
  .aside{
    height: 845px;
    padding-top: 30px;
    border-right: 1px solid white;
    background-color: rgb(255,255,255,0.2);    
  }
  .bread-crumbs{
    padding-top: 30px;
  }
  .crumb{
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .bread-crumbs > a:last-child{
    text-decoration: underline;
  }
  .products-header{
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .sort-box{
    height: 40px;
    border: 1px solid white;
    background: #2c71b8;
    color: white;
    font-size: 21px;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
  }
  .product-row{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .product{
    display: block;
    height: 650px;
    border: 1px solid white;
    background-color: #2c71b8;
  }
  .device-pic{
    position: relative;
    background: #cadbed;
    width: 100%;
    height: 180px;
  }
  .monitor{
    background: #cadbed url("images/monitor.png") no-repeat 50% 50%;
  }
  .tuner{
    background: #cadbed url("images/tuner.png") no-repeat 50% 50%;
  }
  .watch{
    background: #cadbed url("images/watch.png") no-repeat 50% 50%;
  }
  .laptop{
    background: #cadbed url("images/laptop.png") no-repeat 50% 50%;
  }
  .ipod{
    background: #cadbed url("images/ipod.png") no-repeat 50% 50%;
  }
  .smart{
    background: #cadbed url("images/smartphone.png") no-repeat 50% 50%;
  }
  .tablet{
    background: #cadbed url("images/tablet.png") no-repeat 50% 50%;
  }
  .zoom-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background: url("images/zoom-blue.png") no-repeat 50% 50%;
  }
  .zoom-active{
    background: #2c71b8 url("images/zoom-white.png") no-repeat 50% 50%;
  }
  .fav-btn{
    position: absolute;
    top: 40px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    margin-top: 10px;
    background: url("images/fav-blue.png") no-repeat 50% 50%;
  }
  .fav-active{
    background: #2c71b8 url("images/fav-white.png") no-repeat 50% 50%;
  }
  .device-name{
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
  }

  .load-more{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 90px;
  }
  
